html {
  margin: 0;
  height: 100%; 
}

body {
  background-image: url('minecraft-assets/minecraft_background_with_title.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#images {
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}